.clearfix::after {
	  content: "";
	  clear: both;
	  display: table;
}
body {
	margin: 0px;
}

.head-nav-flex-container {
  display: flex;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  border-color: #ddd;

}

.head-nav-flex-container > a {
  padding: 13px 22.5px;
  font-size: 14px;
  color: white;
}

.head-nav-flex-container > img {
  padding: 8px;
}

.head-nav-text {
	font-size: 0.875em;
	text-decoration: none;
	font-weight: bold;
	font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
}

.head-nav-text:link, .head-nav-text:visited {color:black;  } 
.head-nav-text:hover, .head-nav-text:active {border-top: 5px black; background-color: #ddd;}

.head-nav-list-dropdwn:hover .head-nav-dropdown-content {
  display: block;
  text-align: left;
  margin: 0px;
}

.head-nav-dropdown-content {
  display: none;
  position: absolute;
  left:0px;
  top:40px;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.head-nav-dropdown-content a {
color: black;
padding: 10px 100px;
padding-left: 10px;
text-decoration: none;
display: inline-block;
font-size: 0.875em;
font-weight: bold;
font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
}



.font-family-1 {
	font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
}

/***** Second dropdown menu *****/

.nav-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #bb1919;

}

.nav-flex-container > div {
  margin: auto;
  padding: 8px;
  font-size: 14px;
  color: white;
}

.nav-text:link, .nav-text:visited {color:black;  } 
.nav-text:hover, .nav-text:active {border: 5px white; }

.nav-text-dropbtn:hover .nav-text-dropdown-content {
  display: block;
}

.nav-text-dropdown-content {
  display: none;
  position: absolute;
  left:0px;
  top:130px;
  background-color: black;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.nav-text-dropdown-content a {
color: white;
padding: 20px 100px;
padding-left: 10px;
text-decoration: none;
display: inline-block;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #ddd;
font-size: 0.875em;
font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
  
}




